{%extends 'base.html'%}
{% load static%}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
{% block content %}
<div class="container">
  <div class="row gx-5">
    {% for project in projects %}
    <div class="col-6 pt-4">
      <div class="card">
      <h5 class="card-title">
            <a href="{% url 'get_project' project.id %}">
              {{project.title}}
            </a>
          </h5>
        <img class='project-img' src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          
          <p>
            <img class="rounded-circle" style="width: 1.5em; height: 1.5em" src="{{project.user.profile.photo.url}}" alt="">
            <a href="{% url 'user_page' project.user.id%}">
              <span>By:{{project.user.username}}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}