{%extends 'base.html'%}
{% load static%}


{% block styles %}

{% endblock  %}
{% block content %}
<div class="container pt-4">
  <div class="row">
    <div class="col-md-5">
      <h5>Neighborhood:</h5>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
        <table class="table table-sm">
          <tr>
            <th></th>
            <th>Customer</th>
            <th>Phone</th>
          </tr>
          {% for customer in customers %}
          <tr>
            <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col-md-7">
      <h5>Neighborhood</h5>
      <hr>
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>OccupantsS</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
          {% for neighborhood in neighborhoods %}
          <tr>
            <td>{{neighborhood.name}}</td>
            <td>{{neighborhood.location}}</td>
            <td>{{neighborhood.occupants_count}}</td>
            <td><a class="btn btn-sm btn-info" href="">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_neighborhood' neighborhood.id %}">Delete</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>


{% endblock %}